@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto+Mono", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
section {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  background: rgb(72, 72, 72);
}
section .aside {
  position: relative;
  /* background: blue; */
  flex: 1;
}
section .main {
  position: relative;
  /* background: red; */
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
}
.main .header {
  flex: 1;
  display: flex;
  min-height: 100px;
  align-items: end;
}
.main .header h1 {
  color: #fff;
  margin: 3px;
  font-size: 2.2em;
  white-space: nowrap;
}
.main .header h1 span {
  position: relative;
  color: #1a1a1a48;
  animation: displayText 9s infinite;
  animation-delay: calc(-3s * var(--i));
}
@keyframes displayText {
  0% {
    display: inline-block;
  }
  33.33%,
  100% {
    display: none;
  }
}
.header h1 span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  border-right: 2px solid gray;
  filter: drop-shadow(3px 3px 2px #373737);
  animation: movePointer 3s linear infinite;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes movePointer {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.main input {
  font-size: 1.1em;
  padding: 10px;
  font-weight: 800;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  z-index: 3;
  background: #e3e3e3;
  cursor: pointer;
}

.main input:hover::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.main input:hover {
  background: #fff;
  transition: 0.3s;
}
.main .add_btn {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
.main .add_btn::before {
  content: "";
  position: absolute;
  background: rgb(44, 44, 44);
  inset: 0px;
  margin: -15px;
  filter: blur(20px);
  animation: btn_hover 5s linear infinite;
}

@keyframes btn_hover {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main .add_btn span {
  position: relative;
  border: 2px solid #e3e3e3;
  border-radius: 8px;
  text-align: center;
  color: #e3e3e3;
  flex: 1;
  z-index: 2;
  padding: 10px;
  cursor: pointer;
  font-size: larger;
  text-shadow: 2px 2px 3px rgba(151, 150, 150, 0.747);
}
.main .add_btn span:hover {
  background-color: #e3e3e3;
  color: rgb(57, 57, 57);
  transition: all 0.2s;
  transform: translateX(5px) scale(1.01);
  border: 2px solid black;
  /* border-radius: 10px; */
  font-size: 1.4rem;
}
.main .add_btn span:active {
  background: rgb(72, 72, 72);
  color: black;
  transform: scale(0.8);
  transition: all 0.5s;
}
.main .notes {
  flex: 3;
  position: relative;
}

.main .note {
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background: #e3e3e3;
  border: 1px solid black;
  border-radius: 8px;
  justify-content: space-between;
}
.main .note p {
  font-size: 1.1em;
  margin: 10px;
  font-weight: 600;
  color: rgba(45, 45, 45, 0.822);
  text-align: justify;
  padding: 5px;
}
.main .note p:hover {
  /* color: #000000; */
  text-shadow: 3px 3px 5px rgba(115, 114, 114, 0.596);
}
.main .note .complete {
  text-decoration: line-through;
}
.main .note .icons {
  display: flex;
  margin: 5px;
  gap: 5px;
}

.main .note svg {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.note .icons .completed {
  background: rgba(223, 207, 33, 0.856);
}
.note .icons .not-completed {
  background: rgba(16, 82, 16, 0.897);
}
.note .icons #agree {
  border: 2px solid black;
  margin: 3px;
  border-radius: 8px;
}
.note .icons #cancel {
  background: rgba(174, 6, 6, 0.921);
  border: 2px solid black;
  margin: 3px;
  border-radius: 8px;
}
.main .note .icons svg #svg_agree,
.note .icons svg #svg_cancel {
  fill: #fff;
}
.note .icons .not-completed:hover {
  background: green;
}
.note .icons #agree:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}
.note .icons #cancel:hover {
  transform: scale(1.1);
  background: rgb(237, 8, 8);
  transition: 0.2s;
  cursor: pointer;
}
.note .icons #cancel:active {
  transform: scale(0.8);
  background: black;
}
.note .icons #agree:active {
  transform: scale(0.8);
  background: black;
}

@media screen and (orientation: portrait) and (max-height: 1000px) {
  section .aside {
    flex: 0.2;
  }
}
